<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Service providers: catelogue </h3>
    <form method="POST">
    <table style="width: 100%;">
        <tr>
            <th>id</th>
            <th>image</th>
            <th>skill</th> 
            <th>desc</th>
            <th>name</th>
            <th>plan of action</th>
            <th>price</th>
            <th>accept</th>
        </tr>

        <% carps.forEach((carp)=>{ %>   
            
        <tr>
            <td><%=carp._id%></td>
            <td><img src='/img/<%= carp.requireImage %>' height="100" width="100"></td>
            <td><%= carp.skill %> </td>
            <td><%= carp.description %> </td>
            <td><input type="text" name=<%=carp._id%> </td>
            <td><input type="text" name=<%=carp._id%> </td>
            <td><input type="number" name=<%=carp._id%> </td>
            <td><input type="checkbox" name=<%=carp._id%> </td>
      
        </tr>
        <% }) %>
    
    </table> 
    <br><br>   
    <input type="submit">
</form>
<style>
    table, th, td {
        border: 0.3px solid black;
    }
    </style>
</body>
</html>