<h3>Customer: select skilled labour</h3>
<h1></h1>
Search by item:<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
<br><br>
<form method="POST">
    <table style="width:100%" id="myTable">
        <tr>
            <th>id</th>
            <th>image</th>
            <th>skill</th>
            <th>desc</th>
            <th>Name</th>
            <th>plan of action</th>
            <th>price</th>
            <th>select</th>
        </tr>

        <% carps.forEach((carp)=>{ %>
        <%if (carp.Workers.Name != "" && carp.Workers.price) { %>

        <tr>
            <td>
                <%=carp._id%>
            </td>
            <td>
                <%= carp.requireImage %>
            </td>
            <td>
                <%= carp.skill %>
            </td>
            <td>
                <%= carp.description %>
            </td>
            <td>
                <%= carp.Workers.Name %>
            </td>
            <td>
                <%= carp.Workers.planofaction %>
            </td>
            <td>
                <%= carp.Workers.price %>
            </td>
            <td><input type="checkbox" name=<%=carp._id%> </td>

        </tr>
        
        <% } %>
        <% }) %>
         

    </table>

    <input type="submit">

</form>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<style>
    table, th, td {
        border: 0.3px solid black;
    }
</style>